<!doctype html>
<html lang="es">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>INFORMACION EB</title>
  </head>
  <body style="background-color: black;">
    <br>
    <div class="container">
      <center>
        <h6 style="color: white;">
          ░█████╗░██╗░░██╗███████╗░█████╗░██╗░░██╗███████╗██████╗░███████╗░█████╗░██╗░░██╗
          ██╔══██╗██║░░██║██╔════╝██╔══██╗██║░██╔╝██╔════╝██╔══██╗██╔════╝██╔══██╗██║░██╔╝
          ██║░░╚═╝███████║█████╗░░██║░░╚═╝█████═╝░█████╗░░██████╔╝█████╗░░███████║█████═╝░
          ██║░░██╗██╔══██║██╔══╝░░██║░░██╗██╔═██╗░██╔══╝░░██╔══██╗██╔══╝░░██╔══██║██╔═██╗░
          ╚█████╔╝██║░░██║███████╗╚█████╔╝██║░╚██╗██║░░░░░██║░░██║███████╗██║░░██║██║░╚██╗
          ░╚════╝░╚═╝░░╚═╝╚══════╝░╚════╝░╚═╝░░╚═╝╚═╝░░░░░╚═╝░░╚═╝╚══════╝╚═╝░░╚═╝╚═╝░░╚═╝</h6>
      </center>
      <br>
        <div class="container border border-success rounded py-3 col-sm-6">
            <form method="POST" action="/freak_back">
                <div class="form-group row">
                  <label style="color: white;" for="inputPassword3" class="col-sm-2 col-form-label">Direccion:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" required name="direccion" placeholder="Ej: uniguajira.com">
                  </div>
                </div>
                <div class="form-group row">
                  <label style="color: white;" for="inputPassword3" class="col-sm-2 col-form-label">Puerto:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" required name="puerto" placeholder="Ej: 443">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-danger">Realizar escaneo</button>
                    <a href="/" class="btn btn-success">Volver al menu</a>
                  </div>
                </div>
              </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>